PORT=1234

NODE_URL="https://api.testnet.shimmer.network"
FAUCET_URL="https://faucet.testnet.shimmer.network/api/enqueue"
EXPLORER_URL="https://explorer.shimmer.network/testnet"

NON_SECURE_MNEMONIC="hour radio good require little extend book client original belt shoot pave wedding gap planet liberty ring chief also region ship leave stick trip"

SHIMMER_JSON_RPC_URL="https://json-rpc.evm.testnet.shimmer.network"
SHIMMER_EVM_EXPLORER="https://explorer.evm.testnet.shimmer.network"

IDENTITY_SC_ADDRESS="0x922D6956C99E12DFeB3224DEA977D0939758A1Fe"

GC_ENDPOINT="http://localhost:7777"