VITE_NODE_URL="https://api.testnet.shimmer.network"
VITE_FAUCET_URL="https://faucet.testnet.shimmer.network/api/enqueue"
EXPLORER_URL="https://explorer.shimmer.network/testnet"

VITE_JSON_RPC_URL="https://json-rpc.evm.testnet.shimmer.network"
VITE_EVM_EXPLORER="https://explorer.evm.testnet.shimmer.network"
# VITE_EVM_EXPLORER="https://sepolia.etherscan.io/address/"

VITE_CATALOGUE_BACKEND="http://localhost:7777"
